* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #222;
}

header {
    background: #111;
    color: white;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.header-content {
    text-align: center;
    max-width: 500px;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 1rem;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    background: #f4f4f4;
    color: #111;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e0b820;
}

button:active {
    transform: scale(0.97);
}


/* Todo */
.todo {
    margin-top: 3rem;
}

.todo-input {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.todo input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: #f4f4f4;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

/* media queries */

@media(min-width: 768px) {
    main {
        max-width: 800px;
        margin: auto;
    }

    .sections {
        flex-direction: row;
    }

    section {
        flex: 1;
        background: #f4f4f4;
        padding: 1.5rem;
        border-radius: 0px;
    }
}