* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #222;
}

header {
    background: #111;
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 1rem;
}


/* media queries */

@media(min-width: 768px) {
    main {
        max-width: 800px;
        margin: auto;
    }
}